body,.yzm-box div,.yzm-box h3,.yzm-box input,.yzm-box p,.yzm-box iframe{margin:0;padding:0;}
.yzm-box img{border:0;vertical-align:top;}
q:before,q:after{content:'';}
.yzm-box input{font-family:ו;font-size:inherit;font-weight:inherit;vertical-align:middle}
.yzm-box input{*font-size:100%;}
.yzm-box h3{font-size:14px}
.clear{clear:both;overflow:hidden;zoom:1}
.yzm-box{font:12px/21px "microsoft yahei";width: 320px;}
.yzm-box .tc{text-align:center;}
.yzm-box .close-a,.yzm-box .chose-btn,.yzm-box .icon-q,.yzm-box .icon-a,.icon-succeed,.icon-failure{background:url(../images/bg.png) no-repeat;}
@media screen and (-webkit-min-device-pixel-ratio:0)(min-width:0){.file-btn input{left:-10px;}}
.yzm-box .yzm-tit{line-height:30px;padding-left:10px;font-size:12px;font-weight:bold;background-color:#f2f2f2;color:#333;}
.yzm-box .close-a{position:absolute;width:16px;height:16px;overflow:hidden;right:9px;top:7px;line-height:300px;background-position:0 -210px;}
.yzm-box .close-a:hover{background-position:-20px -210px;}
.yzm-box .yzm-con{margin:12px 10px;line-height:24px;}
.yzm-box .chose-btn{float:right;line-height:18px;padding:0 5px 0 18px;margin-top:4px;background-color:#c4c4c4;color:#fff;text-decoration:none;background-position:-285px -206px;}
.yzm-box .chose-btn:hover{background-color:#f79a10;background-position:-285px -236px;color:#fff;}
.yzm-box .icon-q,.yzm-box .icon-a{display:inline-block;width:24px;height:24px;margin-right:5px;background-position:-40px -210px;}
.yzm-box .icon-a{margin-right:0;background-position:-70px -210px;}
.yzm-box .yzm-img{margin:10px 0;}
.yzm-box .yzm-img img{max-width: 300px;cursor:pointer;}
.yzm-box .yzm-text{height:22px;width:265px;padding-left:6px;line-height:22px;border:1px solid #dfdfdf;vertical-align:top;color:#a4a4a4;}
.yzm-box .sub-btn{width:80px;height:24px;margin-top:12px;color:#fff;background-color:#f79a10;border:none;cursor:pointer;}
.yzm-box .sub-btn:hover{background-color:#ff6c00;}
.yzm-box .yzm-con2{padding:30px 30px 20px;line-height:30px}
.yzm-box .yzm-con2 .yzm-text{width:260px;margin-bottom:18px;height:28px;line-height:28px;}
.yzm-box .yzm-con2 img{margin-right:12px;vertical-align:middle;cursor:pointer;}
.yzm-box .yzm-con2 .sub-btn{margin-top:44px;}
.yzm-box .yzm-con2 a{text-decoration:none;color:#0a8cd2;}
.yzm-box .icon-succeed{background-position:right -270px; }
.yzm-box .icon-failure{background-position:right -300px;}